/* html, nav {
    background: rgb(210, 210, 210);
    background: -moz-linear-gradient(90deg, rgba(210, 210, 210, 1) 0%, rgba(56, 56, 56, 1) 100%, rgba(169, 128, 208, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(210, 210, 210, 1) 0%, rgba(56, 56, 56, 1) 100%, rgba(169, 128, 208, 1) 100%);
    background: linear-gradient(90deg, rgba(210, 210, 210, 1) 0%, rgba(56, 56, 56, 1) 100%, rgba(169, 128, 208, 1) 100%);
}

.box {
    background: rgb(210, 210, 210);
    background: -moz-linear-gradient(90deg, rgba(210, 210, 210, 1) 0%, rgba(162, 162, 162, 1) 100%, rgba(169, 128, 208, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(210, 210, 210, 1) 0%, rgba(162, 162, 162, 1) 100%, rgba(169, 128, 208, 1) 100%);
    background: linear-gradient(90deg, rgba(210, 210, 210, 1) 0%, rgba(162, 162, 162, 1) 100%, rgba(169, 128, 208, 1) 100%);
} */

body {
    margin: 0;
}

.button {
    width: 100px;
}

.btn-large {
    width: 150px;
}

select {
    border: 1px solid gainsboro;
    height: 40px;
}
#trashIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}